@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* hele spændet */
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@import "tailwindcss";

@theme {
  --color-primary: #001799;
  --color-secondary: #76afe7;

  --color-cta: #bb1657;
  --color-cta-hover: #f489a5;

  --color-accent: #f6edde;

  --color-neutral-black: #000000;
  --color-neutral-white: #ffffff;

  --font-display: "Barlow", sans-serif;
  --font-sans: "Roboto", sans-serif;
}

@layer base {
}

@layer components {
}
@layer utilities {
}
