@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@import "tailwindcss";

@theme {
  --color-primary: #001799;
  --color-secondary: #76afe7;

  --color-cta: #bb1657;
  --color-cta-hover: #f489a5;

  --color-accent: #f6edde;

  --color-neutral-black: #000000;
  --color-neutral-white: #ffffff;

  --font-barlow: "Barlow", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

@layer base {
}

@layer components {
}
@layer utilities {
}
