---
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
---
<footer>
<div class="w-full h-[7px]" style="background-color: var(--color-secondary-400);"></div>
</footer>