---
const { teksttype = "brødtekst", stylingclasses = "" } = Astro.props;

// Tailwind styling for teksttyper
const sizeClasses = {
  // Brødtekst (body)
  "brødtekst": "text-[15px] lg:text-[15px] font-roboto",
};
---

<p class:list={[sizeClasses[teksttype], stylingclasses]}>
  <slot />
</p>
